//
// Variables
//


$body-line-height: 1.6;

$body-font-size: 90%;
$body-font-family: 'Montserrat', sans-serif;


$base-font-color: rgb(80, 80, 80);

// Application Colors
$background-color: rgb(250, 250, 250);
$primary-brand-color: rgb(200, 138, 77);
$secondary-brand-color: rgb(223, 180, 108);

$active-link: $primary-brand-color;
$hover-link: $secondary-brand-color;


// Standard Colors
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);
$grey: rgb(200, 200, 200);
